#header{
    height: $header-height;    
    font-family: font-bold;
    padding: $main-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid black;
    .title{
        width:150px;
    }
    .navigation{
        display: flex;
        height: 100%;
        align-items: center;
        min-width: 55px;
        .desktop{
            display: flex;
            height: 30px;
            width: 150px;
            flex-direction: row-reverse;
            @media #{$break1}{
                display: none;
            }
            .button{
                display: flex;
                align-items: center;
                border: 1px solid black;
                padding: 5px;
                border-radius: 7px;
                cursor: pointer;
                font-family: font-normal;
                & ~ .button{
                    margin-right: 10px;
                }
                &.active{
                    font-family: font-bold;
                }
                &:not(.active):hover{
                    opacity: 0.8;
                    transform: translateY(-1px);
                }
            }
        }
    }
    .switch-env{
        display:flex;
        align-items:center;
        .switch{
            position: relative;
            display: inline-block;
            width: 40px;
            height: 11px;
            margin: 0 5px 0 10px;
            input:checked + .slider:before {
                transform: translateX(22px);
            }
            input { 
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .slider:before {
                    background-color:getColor(_body_dark);
                }
                &:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #D8D8D8;
                transition: .4s;
                border-radius: 34px;
                &:before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: -1px;
                    bottom: -4px;
                    background-color: getColor(_body_dark);
                    transition: .4s;
                    border-radius: 50%;
                }
            }
        }
    }
}