@font-face {
    font-family: 'font-normal';
    font-style: normal;
    src: url(../../assets/fonts/Assistant-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'font-light';
    font-style: normal;
    src: url(../../assets/fonts/Assistant-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'font-bold';
    font-style: normal;
    src: url(../../assets/fonts/Assistant-Bold.ttf) format("truetype");
}