$header-height: 50px;
$main-pad:0 15px;
$search-height:90px;

//box-border
$main-box-border: 1px solid rgba(55,89,223,0.58);
$main-box-shadow:0 0 9px 1px rgba(124, 147, 232, 0.56), rgba(124, 147, 232, 0.56) 0 0 9px 1px inset;
$main-box-radius:8px;

$font-large:30px;